/**
 * @author Prénom Nom courriel
 * @todo ADAPTER ce fichier selon le projet
**/

/**
 * TABLE DES MATIÈRES
 * Palette de couleurs
 * Base commune
 * - Bouton du menu
 * - Liste du menu
 * - Liens du menu
 * Si le javascript est activé
 */

/****** Palette de couleurs *******/
/*
Couleur de fond : #d9d7d0
Effet de survol : #f5ae09
Effet actif : #f4d07c
*/

/****** Base commune *******/




    /* Si le javascript est activé */
    /* Pour des raisons d'accessibilité, on ne cache le menu mobile
     * que si Javascript est activé. De cette façon, s'il est désactivé,
     * le menu restera tout de même visible à l'utilisateur.
     */
.js .menu__liste {
        max-height: 100vh;
        overflow: hidden;
        transition: max-height 0.5s;
    }

.js .menu--ferme .menu__liste {
    max-height: 0;
    @media (min-width: 601px) {
        max-height: none;
        }
    }
