/**
* @author Prenom Nom courriel
*/
@mixin boutonCommun {
  text-decoration: none;
  border-radius: 18px;
  padding: 0.5em 1em;
}

.bouton {
  @include boutonCommun;
  background-color: $HotPink;
  color: black;
  &:after {
    //content: "»";
    margin-left: 0.4em;
  }
  &:hover {
    background-color: $HotPinkTransparent;
  }
  &:active {
    background-color: $HotPinkTransparent;
  }
  &--inverse {
    @include boutonCommun();
    background-color: white;
    border: 2px solid black;
    &:hover {
      border-color: $HotPinkTransparent;
    }
    &:active {
      border-color: $HotPinkTransparent;
    }
  }
}


