/**
* @author Prenom Nom courriel
*/

/** Polices de caractères **/

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$HotPink: #FF4FBC;
$blanc: white;
$PurpleHeart: #7720D4;
$noir : black;

/* Transparent */
$HotPinkTransparent: transparentize($HotPink, 0.5);
$PurpleHeartTransparent: transparentize($PurpleHeart, 0.5);


/* Autres couleurs */
$MineShaft: #333;
$Cranberry: #E04A7A;


/** Points de rupture **/
$desktop : 601px;