* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  position: relative;
}

nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  position: relative;
}

.logo img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto ;
}

.nav-links li {
  margin-left: 20px;
  position: relative;
}

.nav-links a {
  color: $blanc;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 5px;
}

.btn_Acheter_Passeport {
  background-color: $HotPink;
  padding: 10px 20px;
  border-radius: 5px;
  color: $blanc;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn_Acheter_Passeport:hover {
  background-color: $Cranberry;
}

/* Dropdown content */
.dropdown-content {
  list-style: none;
  display: none;
  position: absolute;
  background-color: $HotPink;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 7;
  top: 100%;
  width: 150px;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown-content li a {
  color: $blanc;
}

.dropdown-content li a:hover {
color: $MineShaft;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* SVG wave styles */
.wave1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}
.wave2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}
/* Burger menu styles */

@media(max-width: 600px) {
.nav-links {
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.nav-links li {
  margin: 1rem 0;
}

#menu {
  background-color: $MineShaft;
  width: 100%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  z-index: 4;
}
#menu-toggle {
  display: none;
}

#burger {
  position: absolute;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  right: 3rem;
  top: 7rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 5;
}

#burger div {
  height: 2px;
  background-color: $blanc;
  transition: 0.5s;
}

#menu-toggle:checked ~ #burger div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#menu-toggle:checked ~ #burger div:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked ~ #burger div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

#menu-toggle:checked ~ #menu {
  transform: translateX(0);
}
.wave1{
  width: 150%!important;
  height: auto;

}
.wave2{
  height: auto;
  width: 150%!important;
}
.banner{
  margin-top: 0px!important;
}
}



/* Banner styles */
.banner {
  margin-top: 50px;
  color: $blanc;
  text-align: center;
  position: relative;
  z-index: 3;
}

.banner h1 {
  font-size: 36px;
}

.banner p {
  font-size: 24px;
  color: $HotPink;
}

